/* css styles */
body {
  background: linear-gradient(to bottom, #000000, #4f4f4f);
  color: #ffffff;
}



/* Üst menü arka plan rengi */
.navbar {
  background-color: #4f4f4f; /* Örnek olarak kırmızı renk kullanıldı, renk kodunu istediğiniz renkle değiştirin */
}

/* Üst menü metin rengi */
.navbar a {
  color: #ffffff; /* Metin rengini beyaz olarak ayarlandı, istediğiniz metin rengini kullanabilirsiniz */
}

/* Üst menü bağlantılarına fare üzerine geldiğinizde rengi değiştirme */
.navbar a:hover {
  color: #4f4f4f; /* Fare üzerine geldiğinizde rengini değiştirmek için kullanabilirsiniz */
}

/* Üst menü (navbar) üzerine gelindiğinde açılan alt menü (dropdown menu) arka planı şeffaf beyaz yap */
.navbar .dropdown-menu {
  background: rgba(79, 79, 79, 0.9); /* Beyaz renk ve %70 şeffaflık */
  color: white;
}

